@charset "utf-8";
//顶部悬浮
.dbxf{
    @include flexSet(column,flex-start,flex-start);
    @include div(transparent,100%,80px);
    position: fixed;
    top: -80px;
    left: 0;
    z-index: 20 ;
    // .xx{
    //     @include flexSet(row,center,center);
    // }
    .dbxf_top{
        @include flexSet(row,center,center);
        @include div(red,100%,40px);
        border-bottom:2px solid red ;
        .main{
            @include flexSet(row,space-between,center);
            .dbxf_top_left{
                @include div(green,618.850px,40px);
                @include flexSet(row,flex-start,center);
                a{
                    @include div(red,100%,28px); 
                    font-size: 14px;
                }
            }
            .dbxf_top_right{
                @include div(purple,206px,30.2px); 
            }
        }
    }
    .dbxf_bottom{
        @include div(blue,100%,40px);
        .main{
            @include flexSet(row,flex-start,center); 
            .dbxf_bottom_left{
                @include div(gold,1200px,40px);
            }
        }
    }
    .main{
        @include div(gold,1200px,40px); 
    }
}
//轮播图
.lunbotu{
    @include flexSet();
    @include div(transparent,100%,304px);
    border-top: 1px solid #ccc;
    .main{
        @include flexSet(row,space-evenly,center);
        @include div(transparent,1200px,304px); 
        border: 1px solid #ccc;
        .left{
            @include div(transparent,150px,304px); 
            @include flexSet(column,space-evenly,center);
            ul{
                @include flexSet(column,space-evenly,center);
                @include div(transparent,138px,306px);  
                position: relative;
            }
            .ul_list{
                @include flexSet(row,space-around,center);
                @include div(transparent,136px,30px);
                border-bottom: 1px solid #ccc;
            }
            a{
                color: #333;
            }
            .l-list{
                border-bottom: none;
            }
            .l-list a {
                font-size: 12px;
                margin: 0  7px;
            }
            .l-list span {
                @include div(black,1px,10px)
            }
            .two_wrap{
                @include div(white,385px,305px);
                position: absolute;
                z-index: 10;
                margin-left: 0px;
               left: 136px;
               top: 0;
                display: none;
            }
            .two{ //两级菜单
               @include div(white,385px,305px);
               border: 1px solid #ccc;
               margin-left:13px ;
               @include flexSet(row,space-between,center);
            //    display: none;
            }
            .two_left{
                @include div(transparent,197px,305px);
                @include flexSet(column,flex-start,flex-start);
            }
            .pop_second{
                @include div(transparent,196px,33px);
                @include flexSet(row,flex-start,center);
                font-size: 14px;
                border-bottom: 1px solid #ccc;
            }
            .ul{
                @include div(transparent,209px,121px);
                @include flexSet(column,flex-start,flex-start);
                li{
                    @include flexSet(row,flex-start,flex-start);
                    @include div(transparent,144px,12px);  
                    font-size: 12px;
                    margin: 10px 0 6px 0;
                }
                a{
                    margin-right: 14px;
                }
            }

            .two_right{
                @include div(transparent,173px,305px);
                // padding: 6px 10px 0 11px;
                margin: 6px 10px 0 11px;
                @include flexSet(column,space-between,flex-end);
                img{
                    @include div(transparent,140px,93px);
                }
                
            }
            
        }
        .right{
            @include flexSet(row,space-evenly,center);
            @include div(transparent,1050px,304px);
        }
        //轮播图
        .right_left{
            @include div(transparent,951px,304px);
            position: relative;
            .banner_ul{
                @include div(transparent,951px,304px);
                overflow: hidden;
                @include flexSet();
            }
            .banner_li{ 
                @include div(transparent,951px,304px);
                position: absolute;
                left: 0;
                top: 0;
            }
            .banner_li:first-child{
                opacity: 1;
                z-index:1;
            }
            .yq{
                @include div(transparent,100px,16px);
                @include flexSet(row,space-evenly,center);
                position: absolute;
                top: 268px;
                left: 50%;
                z-index: 10;
                margin-left: -50px;
                bottom: 20px;
                b{
                    @include div(white,15px,15px);  
                    border-radius: 50%;
                    border: 1px solid #ccc;
                }
                .active{
                    background-color: red;
                }
            }
        }
            .banner_inner_ul{
                @include div(red,138px,304px); 
                position: absolute;
                top: 0;
                right:0;
                
                @include flexSet(column,space-evenly,center);
                li{
                    @include div(blue,137px,147px); 
                }
                img{
                    @include div(blue,137px,147px);  
                }
            }
        

        .right_right{
            @include div(transparent,98px,304px);
            @include flexSet(column,space-evenly,center);
        }
        .d1{
            @include div(transparent,80px,83px);
            @include flexSet(column,space-evenly,center);
            a{
                @include div(transparent,80px,83px);
                @include flexSet(column,space-evenly,center);  
            }
            .s1{
                @include div(transparent,40px,40px);
                background: url(../img/index-common.png) no-repeat -231px -34px;
            }
            .s2{
                @include div(transparent,90px,24px);
                @include flexSet(row,center,center);
                font-size: 14px;
                color: #ff404c;
            }
            
        }
        
        .d2{
            @include div(transparent,80px,83px);
            @include flexSet(column,space-evenly,center);
            a{
                @include div(transparent,80px,83px);
                @include flexSet(column,space-evenly,center); 
                 
            }
            .s3{
                @include div(transparent,40px,40px);
                background: url(../img/index-common.png) no-repeat -231px -82px;
            }
            .s4{
                @include div(transparent,90px,24px);
                @include flexSet(row,center,center);
                font-size: 14px;
                color: #ff404c;
            }
        }
        .d3{
            @include div(transparent,80px,125px);
            @include flexSet(column,space-evenly,center);
            a{  
                @include div(transparent,80px,125px);
                @include flexSet(column,space-evenly,center);  
            }
            .s5{
                @include div(transparent,60px,60px);
            }
            .s6{
                @include div(transparent,80px,26px);
                @include flexSet(row,center,center);
                color: #ff404c;
                font-size: 12px;
            }
        }
    }
} 




/* 品牌精选部分*/
.ppjx{
    @include flexSet();
    @include div(transparent,100%,407px);
    .main{
        @include flexSet(column,flex-start,center);
        @include div(transparent,1200px,407px); 
        .ppjx_top{
            @include div(transparent,1200px,44px); 
             border-bottom: 1px solid red;
        }
        .ppjx_middle{
            @include div(transparent,1200px,200px);
            @include flexSet(row,space-between,center);
            .img-3{
                @include div(transparent,392px,200px);
                border: 1px solid #ccc;
                position: relative;
                a{
                    display: block;
                    @include div(transparent,392px,200px);  
                }
                img{
                    display: block;
                    @include div(transparent,392px,200px); 
                }
                .img-3-bottom{
                    @include div(#ccc,392px,25px); 
                   position: absolute; 
                   opacity: 0.5;
                   bottom: 0;
                   left: 0;
                   @include flexSet(row,center,center);
                }
            }
            .img-3:hover{
                box-shadow: #ccc 0px 0px 5px 5px;
            }
            // .ppjx_bottom img :hover{
            //     box-shadow: #ccc 0px 0px 5px 5px;
            // }
        }
        .ppjx_bottom{
            @include div(transparent,1200px,120px);
            ul{
                @include flexSet(row,flex-start,flex-start);
                flex-wrap: wrap;
            }
            li{
                        flex: 0 0 10%;
                a{
                    display: block;
                    img{
                        @include div(transparent,120px,60px); 
                    }
                }

            }


        }
    }
}

// <!-- 限时秒杀 -->
.xsms{ 
    @include flexSet();
    @include div(transparent,100%,300px);
    .main{
        @include flexSet(column,flex-start,flex-start);
        @include div(transparent,1200px,300px); 
        overflow: hidden;
        .xsms_top{
            @include div(transparent,1200px,36px); 
        }
        .xsms_bottom{
            @include div(transparent,1200px,250px); 
            position: relative;
            ul{
                @include div(transparent,30856px,250px); 
                position: absolute;
                top: 0;
                left: 0;
                li{
                    @include div(transparent,185px,250px);
                    border: 1px solid #ccc;
                    float: left;
                    margin-right:18px ; 
                } 
                li:hover{
                    box-shadow: #ccc 0px 0px 5px 5px;
                }
                li:nth-child(6n){
                    margin-right:0px ;  
                }
                a{
                    display: block;
                    @include div(transparent,185px,250px);
                    @include flexSet(column,flex-start,flex-start);
                }
                img {
                    @include div(transparent,185px,185px);      
                }
            }
        }
        .jiantou{
            @include div(blue,17px,43px);
            position: absolute;
            top:85px;
            z-index: 3;
            background: url(../img/big_bg_img_v3.png) ;
            opacity: 0.5;
        }
        .xsms_left{
            left: 0px;
            background-position: -277px -440px;
        }
        .xsms_left:hover{
            opacity: 1;
        }
        .xsms_right{
            right: 0px;
            background-position:-307px -440px;
        }
        .xsms_right:hover{
            opacity: 1;
        }
    }
}

// <!-- 热销推荐 -->
.rxtj{
    @include flexSet();
    @include div(transparent,100%,199.8px);
    .main{
        @include flexSet(column,space-between,flex-start);
        @include div(transparent,1200px,199.8px); 
        .rxtj_top{
            @include div(transparent,1200px,40.8px);
        }
        .rxtj_bottom{
            @include div(transparent,1200px,159px);
            ul{
                @include div(transparent,1200px,159px); 
                @include flexSet(row,space-between,center);
                li{
                    @include div(transparent,232px,159px);
                    border: 1px solid #ccc;
                    a{
                        display: block;
                        
                    }
                    img {
                        @include div(transparent,232px,159px);       
                    }
                } 
                li:hover{
                    box-shadow: #ccc 0px 0px 5px 5px;
                }
            }
        }
    }
}

// <!-- 今日已更新 -->
.jrgx{
    @include flexSet();
    @include div(transparent,100%,auto); //给了一个临时高度
    .main{
        @include flexSet(column,flex-start,flex-start);
        @include div(transparent,1200px,auto); 
        .jrgx_top{
            @include div(transparent,1200px,40.8px);
        }
        .jrgx_bottom{
            @include div(transparent,1200px,auto);
            ul{
                @include div(transparent,1200px,auto); 
                li{
                    
                    border: 1px solid #ccc;
                    float: left;
                    margin: 0 11px 30px 11px;
                } 
                li:hover{
                    box-shadow: #ccc 0px 0px 5px 5px;
                }
                a{
                    @include flexSet(column,flex-start,flex-start);
                }
                img{
                    display: block;
                    @include div(transparent,278px,283px);
                }
                div{
                    @include div(transparent,278px,30px);
                    @include flexSet(row,space-between,center);
                }
                
                li:nth-child(4n){
                    margin-right: 0;
                }
            }
        }
    }
}

