@charset "utf-8";
/* 品牌精选部分*/
.ppjx{
    @include flexSet();
    @include div(transparent,100%,407px);
    .main{
        @include flexSet(column,flex-start,center);
        @include div(transparent,1200px,407px); 
        .ppjx_top{
            @include div(transparent,1200px,44px); 
             border-bottom: 1px solid red;
        }
        .ppjx_middle{
            @include div(transparent,1200px,200px);
            @include flexSet(row,space-between,center);
            .img-3{
                @include div(transparent,392px,200px);
                border: 1px solid #ccc;
                position: relative;
                a{
                    display: block;
                    @include div(transparent,392px,200px);  
                }
                img{
                    display: block;
                    @include div(transparent,392px,200px); 
                }
                .img-3-bottom{
                    @include div(#ccc,392px,25px); 
                   position: absolute; 
                   opacity: 0.5;
                   bottom: 0;
                   left: 0;
                   @include flexSet(row,center,center);
                }
            }
            .img-3:hover{
                box-shadow: #ccc 0px 0px 5px 5px;
            }
        }
        .ppjx_bottom{
            @include div(transparent,1200px,120px);
            ul{
                @include flexSet(row,flex-start,flex-start);
                flex-wrap: wrap;
            }
            li{
                        flex: 0 0 10%;
                a{
                    display: block;
                    img{
                        @include div(transparent,120px,60px); 
                    }
                }

            }


        }
    }
}

// <!-- 限时秒杀 -->
.xsms{ 
    @include flexSet();
    @include div(transparent,100%,300px);
    .main{
        @include flexSet(column,flex-start,flex-start);
        @include div(transparent,1200px,300px); 
        overflow: hidden;
        .xsms_top{
            @include div(transparent,1200px,36px); 
        }
        .xsms_bottom{
            @include div(transparent,1200px,36px); 
            ul{
                @include div(transparent,30856px,250px); 
                li{
                    @include div(transparent,185px,250px);
                    border: 1px solid #ccc;
                    float: left;
                    margin-right:18px ; 
                } 
                a{
                    display: block;
                    @include div(transparent,185px,250px);
                    @include flexSet(column,flex-start,flex-start);
                }
                img {
                    @include div(transparent,185px,185px);      
                }
            }
        }
    }
}

// <!-- 热销推荐 -->
.rxtj{
    @include flexSet();
    @include div(transparent,100%,199.8px);
    .main{
        @include flexSet(column,space-between,flex-start);
        @include div(transparent,1200px,199.8px); 
        .rxtj_top{
            @include div(transparent,1200px,40.8px);
        }
        .rxtj_bottom{
            @include div(transparent,1200px,159px);
            ul{
                @include div(transparent,1200px,159px); 
                @include flexSet(row,space-between,center);
                li{
                    @include div(transparent,232px,159px);
                    border: 1px solid #ccc;
                    a{
                        display: block;
                        
                    }
                    img {
                        @include div(transparent,232px,159px);       
                    }
                } 
            }
        }
    }
}

// <!-- 今日已更新 -->
.jrgx{
    @include flexSet();
    @include div(transparent,100%,auto); //给了一个临时高度
    .main{
        @include flexSet(column,flex-start,flex-start);
        @include div(transparent,1200px,auto); 
        .jrgx_top{
            @include div(transparent,1200px,40.8px);
        }
        .jrgx_bottom{
            @include div(transparent,1200px,auto);
            ul{
                @include div(transparent,1200px,auto); 
                li{
                    
                    border: 1px solid #ccc;
                    float: left;
                    margin: 0 11px 30px 11px;
                } 
                a{
                    @include flexSet(column,flex-start,flex-start);
                    display: block;
                }
                img{
                    display: block;
                    @include div(transparent,278px,283px);
                }
                div{
                    @include div(transparent,278px,30px);
                    @include flexSet(row,space-between,center);
                }
                
                li:nth-child(4n){
                    margin-right: 0;
                }
            }
        }
    }
}

