@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*网站顶部的安全提示*/
#warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff5f8;
  width: 100%;
  height: 59.2px;
}
#warning .area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  width: 1200px;
  height: 43.2px;
  position: relative;
  color: #ec6060;
}
#warning .area span {
  background: url(../img/spirt.png) 0 -79px no-repeat;
  background-color: transparent;
  width: 17px;
  height: 17px;
}
#warning .area p {
  font-size: 12px;
}

#top_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  width: 100%;
  height: 29px;
  font-size: 12px;
}
#top_nav .top_nav_main {
  background-color: transparent;
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#top_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#top_nav ul li {
  padding: 0 12px;
  border-right: 1px solid #ccc;
}
#top_nav ul li a {
  color: #999;
}
#top_nav ul li:first-child {
  padding-left: 0;
  border-left: none;
}
#top_nav ul li:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#top_nav ul li:nth-child(2) span {
  background-color: transparent;
  width: 12px;
  height: 16px;
  background: url(../img/index-common.png) 0 0 no-repeat;
  margin-right: 5px;
}
#top_nav ul li:last-child {
  padding-right: 0;
  border-right: none;
}

#top800 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  width: 100%;
  height: 100px;
}
#top800 .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: transparent;
  width: 1200px;
  height: 77px;
}
#top800 .main_right {
  background-color: transparent;
  width: 340px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#top800 .main_right a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 340px;
  height: 40px;
}
#top800 .main_right img {
  background-color: transparent;
  width: 340px;
  height: 40px;
}
#top800 .main_left {
  background-color: transparent;
  width: 802px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#top800 .main_left h1 {
  text-indent: -10000px;
  background: url(../img/logo_zhe800_new.png) center center no-repeat;
  background-color: transparent;
  width: 225px;
  height: 55px;
}
#top800 .main_left .search {
  position: relative;
  border: 2px solid red;
  border-right: none;
  border-radius: 3px;
}
#top800 .main_left .search .form_search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 545px;
  height: 35px;
}
#top800 .main_left .search .form_search .search_1 {
  background-color: transparent;
  width: 111px;
  height: 35px;
  background: url(../img/index-common.png) -34px -34px no-repeat;
  color: white;
  padding-right: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}
#top800 .main_left .search .form_search .input {
  background-color: transparent;
  width: 375px;
  height: 34px;
  outline: none;
  border: none;
}
#top800 .main_left .search .form_search .submit {
  background-color: transparent;
  width: 48px;
  height: 24px;
  border: none;
  background: url(../img/index-common.png) -34px 0 no-repeat;
}
#top800 .main_left .search .form_search span {
  position: absolute;
  top: 5px;
  left: 110px;
  color: #999;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  width: 375px;
  height: 25px;
}
#top800 .main_left .search .right {
  position: absolute;
  background-color: transparent;
  width: 15px;
  height: 39px;
  background: url(../img/index-common.png) 0 -34px no-repeat;
  top: -2px;
  right: -11px;
}

.middle_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 40px;
}
.middle_bottom .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 1200px;
  height: 40px;
  position: relative;
}
.middle_bottom .main_left {
  background-color: transparent;
  width: 930px;
  height: 40px;
}
.middle_bottom .main_left ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.middle_bottom .main_left ul a {
  color: #696969;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  width: 130px;
  height: 40px;
}
.middle_bottom .main_left ul .first a {
  background-color: red;
  width: 150px;
  height: 40px;
}
.middle_bottom .main_right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: transparent;
  width: 126px;
  height: 40px;
}
.middle_bottom .main_right .gif {
  background-color: transparent;
  width: 126px;
  height: 35px;
  background: url(../img/252x68.d881736ade47ab426df86e928a1a2fa1.gif);
  background-size: 100% 100%;
}
.middle_bottom .main_right .gif img {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 500px;
  height: 360px;
  right: 0;
  top: 40px;
}

.lunbotu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 304px;
  border-top: 1px solid #ccc;
}
.lunbotu .main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  width: 1200px;
  height: 304px;
  border: 1px solid #ccc;
}
.lunbotu .main .left {
  background-color: transparent;
  width: 150px;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .left ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  width: 138px;
  height: 306px;
  position: relative;
}
.lunbotu .main .left li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 136px;
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.lunbotu .main .left a {
  color: #333;
}
.lunbotu .main .left .l-list {
  border-bottom: none;
}
.lunbotu .main .left .l-list a {
  font-size: 12px;
  margin: 0  7px;
}
.lunbotu .main .left .l-list span {
  background-color: black;
  width: 1px;
  height: 10px;
}
.lunbotu .main .left .two {
  background-color: transparent;
  width: 385px;
  height: 305px;
  position: absolute;
  border: 1px solid #ccc;
  padding-left: 13px;
  left: 150px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .left .two_left {
  background-color: transparent;
  width: 197px;
  height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.lunbotu .main .left .pop_second {
  background-color: transparent;
  width: 196px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.lunbotu .main .left .ul {
  background-color: transparent;
  width: 209px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.lunbotu .main .left .ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  width: 144px;
  height: 12px;
  font-size: 12px;
  margin: 10px 0 6px 0;
}
.lunbotu .main .left .ul a {
  margin-right: 14px;
}
.lunbotu .main .left .two_right {
  background-color: transparent;
  width: 173px;
  height: 305px;
  margin: 6px 10px 0 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.lunbotu .main .left .two_right img {
  background-color: transparent;
  width: 140px;
  height: 93px;
}
.lunbotu .main .right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  width: 1050px;
  height: 304px;
}
.lunbotu .main .right_left {
  background-color: transparent;
  width: 951px;
  height: 304px;
}
.lunbotu .main .right_right {
  background-color: transparent;
  width: 98px;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .d1 {
  background-color: transparent;
  width: 80px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .d1 a {
  background-color: transparent;
  width: 80px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .d1 .s1 {
  background-color: transparent;
  width: 40px;
  height: 40px;
  background: url(../img/index-common.png) no-repeat -231px -34px;
}
.lunbotu .main .d1 .s2 {
  background-color: transparent;
  width: 90px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ff404c;
}
.lunbotu .main .d2 {
  background-color: transparent;
  width: 80px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .d2 a {
  background-color: transparent;
  width: 80px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .d2 .s3 {
  background-color: transparent;
  width: 40px;
  height: 40px;
  background: url(../img/index-common.png) no-repeat -231px -82px;
}
.lunbotu .main .d2 .s4 {
  background-color: transparent;
  width: 90px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ff404c;
}
.lunbotu .main .d3 {
  background-color: transparent;
  width: 80px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .d3 a {
  background-color: transparent;
  width: 80px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.lunbotu .main .d3 .s5 {
  background-color: transparent;
  width: 60px;
  height: 60px;
}
.lunbotu .main .d3 .s6 {
  background-color: transparent;
  width: 80px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff404c;
  font-size: 12px;
}

/* 品牌精选部分*/
.ppjx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gold;
  width: 100%;
  height: 407px;
}

.xsms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  width: 100%;
  height: 300px;
}

.rxtj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 100%;
  height: 199.8px;
}

.jrgx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gold;
  width: 100%;
  height: 200px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 298px;
}

.yqlj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gold;
  width: 100%;
  height: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 100%;
  height: 140px;
}

/*# sourceMappingURL=index.css.map */
