* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 87px;
  padding-top: 10px;
}
#header .main {
  background-color: transparent;
  width: 980px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header .logo {
  background-color: transparent;
  width: 232px;
  height: 57px;
  background: url(../img/logo_zhe800_new.png), no-repeat;
  background-size: 100%;
}
#header .header_right {
  color: #666;
  font: 12px '';
  margin-top: 35px;
}

#content .main {
  background-color: white;
  width: 980px;
  height: 507px;
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#content .regisry {
  background-color: transparent;
  width: 430px;
  height: 426px;
}
#content .item {
  background-color: transparent;
  width: 430px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#content .item em {
  background-color: none;
  width: 26px;
  height: 26px;
  background: url();
}
#content .item label {
  background-color: transparent;
  width: 74px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}
#content .item input {
  padding: 2px 3px;
  border: 1px solid #ccc;
  background-color: white;
  width: 290px;
  height: 30px;
  border-radius: 3px;
}
#content .item .select {
  background-color: white;
  width: 12.8px;
  height: 12.8px;
}
#content .item .info {
  background-color: transparent;
  width: 290px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 74px;
  font-size: 12px;
  display: none;
}
#content #btn {
  background-color: red;
  width: 178px;
  height: 30px;
  border: none;
  color: white;
  border-radius: 3px;
}

#footer {
  background-color: transparent;
  width: 100%;
  height: 480px;
  border-top: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer .main {
  margin-top: 5px;
  background-color: transparent;
  width: 1200px;
  height: 480px;
}
#footer .main img {
  background-color: transparent;
  width: 100%;
  height: 480px;
}

#right_nav {
  background-color: black;
  width: 34px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}
#right_nav .gwc {
  background-color: transparent;
  width: 34px;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 28px !important;
  padding: 0 10px;
  color: white;
}
#right_nav .right {
  position: absolute;
  left: 0;
  font-size: 12px;
}
#right_nav .size {
  background-color: red;
  width: 34px;
  height: 42px;
}
#right_nav .dd {
  top: 161px;
  background: url(http://z5.tuanimg.com/v2/core/img/side_golds.png) no-repeat 6px -188px;
}
#right_nav .yh {
  top: 203px;
  background: url(//z5.tuanimg.com/v2/core/img/quan_iconnew.png) no-repeat 7px 0;
}
#right_nav .sc {
  top: 245px;
  background: url(//z5.tuanimg.com/v2/core/img/myFavorites.png) no-repeat 1px 0;
}
#right_nav .xx {
  top: 287px;
}
#right_nav .lq {
  bottom: 210px;
}
#right_nav .pp {
  bottom: 168px;
}
#right_nav .sys {
  bottom: 126px;
}
#right_nav .wt {
  bottom: 84px;
}
#right_nav .fk {
  bottom: 42px;
}
#right_nav .top {
  bottom: 0px;
}

/*# sourceMappingURL=registry.css.map */
